<!DOCTYPE html>
<html>
  <head>
    <title>Favourite National Day Song</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <h1>What Is Your Favourite National Day Song?</h1>
    <h2>A debate that has raged on for 58 years. Where do your allegiances lie?</h2>
    <hr>
    {% if song %}
      <p>Your favourite song: <b>{{song}}</b></p>
    {% else %}
      <form method="POST">
        <p>Favourite NDP Song: <input type="text" name="song"></p>
        <input type="submit" value="Submit">
      </form>
      <h3>Leaderboard</h3> <!-- TBC ONCE SQLITE3 IS IMPLEMENTED-->
      <table>
        <th>Place</th>
        <th>Song Name</th>
        <th>Favourites</th>
        {% for song in songs%}
        <tr>
          <td>PLACEHOLDER</td>
          <td>{{song}}</td>
          <td>PLACEHOLDER</td>
        </tr>
        {% endfor %}
      </table>
    {% endif %}
  </body>
</html>